.card {
  background: rgb(60, 62, 68);
  width: 20%;
  border-radius: 5px;
  padding: 1em 0em;
  box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in; /*  TRANSICION PARA TODO CAMBIO DE ESTILOS DE 0.5 Segundos */
}
/* card-box */
/* Arriba | Derecha | Abajo | Izquierda */
/* margin: 20% 0 20% auto; */

/* cards-text */
h2 {
  font-size: 17px;
}

.close-button {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.close-button-container {
  display: flex;
  justify-content: flex-end;
  margin: 0px 1em;
}

img {
  border-radius: 5px;
}

.close-button:hover {
  color: red;
  cursor: pointer;
}

.color-primary {
  color: rgb(191, 222, 66);
}

.color-secundary {
  color: rgb(66, 180, 202);
}

.color-death {
  color: #a12312;
}

.color-alive {
  color: rgb(20, 133, 246);
}
