/*Estilos del boton Agregar*/
* {
  font-family: "Poppins", sans-serif;
}


/* ------------------------------------------- BUTTONS E INPUTS --------------------------------------------------- */

.add-btn {
  background-color: #4eacac;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 0 4px 4px 0px;
  cursor: pointer;
  margin-right: 8px;
}

/* Input => Agregar */
.inputAdd-btn {
  background-color: #65b6b1;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px 0px 0px 4px;
}

.inputAdd-btn:focus {
  border: none;
  background: #ffffff;
  color: #40454b;
  outline: none; /* que es ?*/
  box-shadow: 3px 0px 30px rgba(45, 54, 110, 0.4);
}

/* Input => Agregar personaje ramdon*/
.addRandom-btn {
  color: white;
  background-color: #333;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #4caf50;
  cursor: pointer;
  transition: 0.1s ease all;
}

/* .addRandom-btn:hover {
} */

/* Clase integrada en la etq nav */
.buttonContainer {
  padding: 12px;
  display: flex;
  justify-content: flex-end;
}

/* ABOUT - HOME */
.about-btn {
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.1s ease all;
}
.home-btn {
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.1s ease all;
}
/* .log-out {
  background: white;
  color: #4caf50;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #4caf50;
  cursor: pointer;
  transition: 0.1s ease all;
} */



/* ------------------------------------------- NAVBAR --------------------------------------------------- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav div {
  display: flex;
  align-items: center;
}

nav div a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

nav div a:hover {
  text-decoration: underline;
}

.log-out {
  background-color: #dc3545;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.1s ease all;
}

.log-out:hover {
  background-color: #c82333;
  cursor: pointer;
}
