/*Estilos del boton Agregar*/
* {
  font-family: "Poppins", sans-serif;
}

/* ------------------------------------------- BUTTONS E INPUTS --------------------------------------------------- */

.add-btn {
  background-color: #4eacac;
  color: white;
  border: none;
  /* padding: 3px 10px; */
  padding: 9px 16px 1px 16px;

  border-radius: 0 4px 4px 0px;
  cursor: pointer;
  margin-right: 16px;
  /*Lupa*/
  display: "flex";
  align-items: center;
}

/* Input => Agregar */
.inputAdd-btn {
  /* width: 100px; */
  background-color: #65b6b1;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 4px 0px 0px 4px;
}

.inputAdd-btn:focus {
  border: none;
  background: #ffffff;
  color: #40454b;
  outline: none; /* que es ?*/
  box-shadow: 3px 0px 30px rgba(45, 54, 110, 0.4);
}

/* Arriba | Derecha | Abajo | Izquierda */
/* Input => Agregar personaje ramdon*/
.addRandom-btn {
  color: white;
  background-color: #333;
  border-radius: 4px;
  border: 1px solid #4caf50;
  padding: 7px 16px 1px 16px;
  cursor: pointer;
  transition: 0.1s ease all;
}

.addRandom-btn:hover {
  background-color: #4caf50;
  cursor: pointer;
}

/* Clase integrada en la etq nav */
.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

/* Links  | LOGO - ABOUT - HOME    ----------------------------------------------------------------------    */

.logoHome-btn {
  width: "200px";
  height: "auto";
}

.about-btn {
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.1s ease all;
}

.home-btn {
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.1s ease all;
}

.favorites-btn {
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.1s ease all;
}

/* Button | Log Out */
.log-out {
  color: white;
  background-color: #333;
  border-radius: 4px;
  border: 1px solid #dc3545;
  /* padding: 3px 16px; */
  padding: 6px 16px 1px 16px;

  border-radius: 4px;
  /* border: none; */
  cursor: pointer;
  transition: 0.1s ease all;
  /* Arriba | Derecha | Abajo | Izquierda */
  margin: 0 15px 0 5px;
}

.log-out:hover {
  background-color: #c82333;
  cursor: pointer;
}

/* ------------------------------------------- NAVBAR --------------------------------------------------- */

nav {
  display: flex;
  justify-content: space-between; /* ESPACIADO ENTRE LOS ELEMENTOS DEL NAVBAR*/
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav div {
  display: flex;
  align-items: center;
}

nav div a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

nav div a:hover {
  text-decoration: underline;
}
