.detail-card {
  width: 100%;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10%;
  display: flex;
  justify-content: left;
  border-radius: 5px;
  padding: 1em 5em;
  background: rgb(60, 62, 68);
  box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.2);
}

.detailImage {
  margin-top: 60px;
  margin-right: 50px;
  justify-content: center;
}

.textLabel {
font-size: 20px;
color: royalblue;
}